@charset "UTF-8";
/******************************/
/*ページ設定ここから*/
/******************************/
html {

}
* {
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none;
}

/******************************/
/*ページ設定ここまで*/
/******************************/

/******************************/
/*ヘッダーここから*/
/******************************/

header {
    

}

/******************************/
/*ヘッダーここまで*/
/******************************/

/******************************/
/*メインここから*/
/******************************/

main {
    
}

/******************************/
/*メインここまで*/
/******************************/

/******************************/
/*フッターここから*/
/******************************/

footer {
    
}

/******************************/
/*フッターここまで*/
/******************************/

@media screen and (max-width:960px){

}