@charset "UTF-8";
/******************************/
body{
        /* 背景をグラデーションにする */
    background: linear-gradient(45deg, #10100E, #ccccff);
    color:#cccccc;
    }
/******************************/
html {

}
* {
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none;
}

/******************************/
/*ページ設定ここまで*/
/******************************/

/******************************/

/******************************/

header {



}

}

/******************************/
/*ヘッダーここまで*/
/******************************/

/******************************/
/*メインここから*/
/******************************/

main {
    
}

/******************************/
/*メインここまで*/
/******************************/

/******************************/
/*フッターここから*/
/******************************/

footer {
    
}

/******************************/
a:visited{
  color : #ff4081;
}

a{
  transition: color 0.3s;
}

a:hover{
  color : #FF0000;
}
/******************************/

@media screen and (max-width:960px){

}